force-app/main/default/flows/WorkOrder_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_add1ToOrder</name>
        <label>Add 1 to Order</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>var_order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_createNewLineItemFromSop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addToNewWorkOrderLineItems</name>
        <label>Add to New Work Order Line Items</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_newWorkOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_lineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_createNewLineItemFromSop</name>
        <label>Create New line Item From SOP</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.ColorOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.ColorOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.Finishing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.Finishing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.Operations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.Operations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.OperationsDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.OperationsDetails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.OperationsType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.OperationsType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.Specifics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.Specifics__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_lineItems.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newWorkOrderLineItem.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addToNewWorkOrderLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WorkOrder_BeforeInsert</name>
        <label>WorkOrder - Before Insert</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No, no SOP here</defaultConnectorLabel>
        <rules>
            <name>outcome_yesAndSopWasSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_sopLineItems</targetReference>
            </connector>
            <label>Yes, and SOP was selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WorkOrder - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder - After Insert</label>
    <loops>
        <name>loop_lineItems</name>
        <label>Loop: Line Items</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_sopLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_add1ToOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_insertNewWorkOrderLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_insertNewWorkOrderLineItems</name>
        <label>Insert New Work Order Line Items</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>var_newWorkOrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_sopLineItems</name>
        <label>Get SOP Line Items</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_lineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SopLineItem__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WorkOrder_BeforeInsert</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_newWorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>var_newWorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>var_order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
